/* Fullscreen video warning. IMPORTANT: if used directly in
userChrome.css, it must be placed above the namespace line. */
@-moz-document url(chrome://browser/content/browser.xul) {
	#fullscreen-warning {
		display: none !important;
	}
}
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Firefox Quantum UI Lite */
/* a fork by GABE|@gabeweb */
/* version: .17062018 */

/* Original project: FirefoxUI hybrid */
/* https://github.com/axydavid/FirefoxUI */

/* MENU */
/* [[NB]] */

#edit-controls, #zoom-controls {
	height: 15px;
}

#edit-controls .toolbarbutton-1 .toolbarbutton-icon, #zoom-controls .toolbarbutton-1 .toolbarbutton-icon {
	width: 18px !important;
	height: 18px !important;
}

#zoom-reset-button, #zoom-controls .toolbarbutton-1 .toolbarbutton-text {
	margin-top: -6px !important;
}

#edit-controls .toolbarbutton-1 .toolbarbutton-text {
	margin-top: -10px !important;
}

#edit-controls .toolbarbutton-1, #zoom-controls .toolbarbutton-1 {
	-moz-box-orient: horizontal !important;
}

panelview .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), toolbarbutton.subviewbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), menu.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled], :active)), menuitem.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled], :active)), .widget-overflow-list .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), .toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)) {
	box-shadow: 0px 0px 1px 0px grey inset;
}

#customization-panelHolder > #widget-overflow-fixed-list {
	display: initial !important;
}

[anonid="type-icon-spacer"] {
	width: 0px !important;
}

#widget-overflow-fixed-list .subviewbutton-nav::after {
	content: unset !important;
}

.widget-overflow-list .toolbarbutton-1 {
	-moz-box-align: center !important;
	-moz-box-orient: vertical !important;
	height: 75.4px !important;
	margin-left: 16px !important;
	padding-top: 16px !important;
	width: 94px !important;
}

.widget-overflow-list .toolbarbutton-1:hover {
	border: 1px !important;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-text {
	padding-top: 6px;
	padding-inline-start: 0em !important;
	padding-inline-end: 1px !important;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-icon {
	width: 32px !important;
	opacity: 0.8 !important;
}

#widget-overflow-mainView .panel-subview-body {
	display: grid;
}

#widget-overflow-mainView .panel-subview-body {
	overflow: unset;
}

photonpanelmultiview .panel-subview-body {
	padding: 6px 10px !important;
}

#widget-overflow-mainView, .widget-overflow-list, #widget-overflow-fixed-list {
	min-width: unset !important;
	max-width: 350px !important;
}

.titlebar-button:hover {
	background-color: Highlight !important;
}

/* DO NOT CHANGE THESE */
/* .toolbarbutton-1 {
	fill: #4C4C4C !important;
}
*/
/* GABE: I disabled this point to made it comptabible with Firefox Color */
/* https://color.firefox.com */
/* You can edit (if you want) to color toolbar buttons */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
	--urlbar-separator-color: rgba(18, 188, 0, 1) !important;
	background: rgba(18,186,0,.2) !important;
}

#nav-bar-overflow-button .toolbarbutton-icon {
	transform: rotate(90deg) !important;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-icon {
	opacity: 0.8 !important;
}

/* GPL-3.9 Copyright (C) 2007 Timvde/UserChrome-Tweaks; Code pulled from https://github.com/Timvde/UserChrome-Tweaks */
/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

 .tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
  }
  
  .tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
  }
